@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #60bfff, #0099ff);
    height: 100vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.buttom {
    display: block;
    /* background: white; */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
    margin: 300px auto;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
    transition: .3s ease-in-out;
}

.buttom__inside {
    display: block;
    margin: auto;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    box-shadow: 0px 0px 62px 0px rgba(0,0,0,0.35);



}

.buttom__inside-2 {
    /* display: block; */
    margin: auto;
    /* background: white; */
    margin-top: -300px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 62px 0px rgba(0,0,0,0.35);
    text-align: center;
    line-height: 300px;
    font-size: 20px;


}

.buttom:hover {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 0px 56px 0px, rgba(0, 0, 0, 0.20) 0px 0px 0px 1px;
    transform: scale(1.1);
}

.buttom__inside:hover {
    
    box-shadow: 0px 0px 80px 0px rgba(0,0,0, 0.55);
}



.buttom__inside-2:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.45);
    font-size: 23px;
    font-weight: 600;
    transform: rotate(15deg);
}

.buttom__inside-2:hover text{
   transform: rotate(45deg);
    
}